.apply-now-button {
  flex: 0 0 auto;
  font-size: 24px;
  padding: 4px 0 4px 0;
  width: 35vw;
  border-radius: 200px;
  font-family: "Stratum No1 light", sans-serif;
}

.roles-landing {
  width: 100%;
  padding-top: 56px;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.roles-landing > h1 {
  margin-top: 36vh;
  margin-left: 60px;
  color: #06263B;
  font-family: "Stratum No1 black", sans-serif;
  font-weight: 900;
  font-size: 3.5vh;
  background-color: #2DC6E0;
  border-top-left-radius: 25px;
  padding: 6px 16px;
}

.job-row {
  padding-bottom: 4vh;
  display: flex;
  width: 80%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}

.job-profile {
  flex: 0 0 auto;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: all 60s ease-in;
}

.job-profile > h2 {
  color: #06263b;
  padding-top: 16px;
  font-size: 2vw;
  text-align: center;
}

.culture  {
  padding-top: 20px;
  min-height: 40vh;
  font-family: "Stratum No1 black", serif;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #8593A6;
}

/*.culture:nth-of-type(even) {*/
  /*background: linear-gradient(180deg, #06263b 66%, #CDD4DE 20%);*/
  /*color: #CDD4DE;*/
/*}*/

.culture:nth-of-type(even) > h1{
  color: #2dc6e0;
}

.culture:nth-of-type(odd) {
  /*background: #CDD4DE;*/
  color: #06263b;
}

.value-title {
  color: #2dc6e0;
  margin-top: 20px;
  text-align: left;
  font-weight: 900;
}

.value-title-out-of-cycle {
  color: #2dc6e0;
  font-weight: bold;
  /* font-family: "SegoeUI black", serif; */
}

.culture-row {
  padding-bottom: 4vh;
  display: flex;
  width: 75vw;
  flex-direction: row;
  justify-content: space-between;
}

.culture-row-item {
  max-width: 23vw;
  flex: 0 1 auto;
}


.culture-row-item > h1 {
  text-align: center;
  font-size: 1.5vw;
  font-family: "SegoeUI black", serif;
  margin-bottom: 1em;
}

.culture-row-item > h2 {
  text-align: center;
  font-size: 1.2vw;
  font-family: "SegoeUI", serif;
  line-height: 2em;
  margin-bottom: 0;
}

.job-row{
  padding-bottom: 4vh;
  display: flex;
  width: 75vw;
  flex-direction: row;
  justify-content: space-between;
}

.job-row-item{
  flex: 0 1 auto;
  height: 15vh
}

.job-row-item > h1 {
  text-align: left;
  font-size: 1.5vw;
  font-family: "SegoeUI black", serif;
  margin-bottom: 1em;
}

.job-row-item > h2 {
  text-align: left;
  font-size: 1.2vw;
  font-family: "SegoeUI", serif;
  line-height: 2em;
  margin-bottom: 0;
}

.culture > img {
  overflow: visible;
  width: 75vw;
  max-height: 40vh;
  object-fit: cover;
  object-position: top;
}
.culture > iframe {
  overflow: hidden;
  object-fit: cover;
  width: 75vw;
  height: 40vh;
  max-height: 512px;
  padding-bottom: 2vh;
}

.open-positions {
  padding-top: 2vh;
  padding-bottom: 2vh;
  /*min-height: 40vh;*/
  font-family: "Stratum No1 light", serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background: #06263b;*/
}

.open-positions > h1 {
  margin-bottom: 2vh;
}

.job-opening-title {
  min-width: 49vw;
  text-align: left;
}

.job-opening-title > h2 {
  text-align: left;
  font-size: 1.2vw;
  font-family: "SegoeUI", serif;
  line-height: 2em;
}

.job-opening-description {
  text-align: left;
  font-size: 2vw;
}

.row-bottom-border {
  border-bottom: 1px solid lightgray;
  margin-bottom: 4vh;
}

@media screen and (min-width: 2000px) {
  .job-profile > h2 {
    font-size: 24px;
  }
  .culture > h1 {
    font-size: 48px;
  }
  .culture > img {
    max-width: 1500px;
  }
  .culture-row-item > h1 {
    font-size: 20px;
  }
  .culture-row-item > h2 {
    font-size: 16px;
  }
}

/* FAQ Section */
.faq-section {
  background-color: rgb(221, 245, 255);
}

/* Footer video */

.footerVideo {
  padding-bottom: 56.25%;
  position:relative;
  display:block;
  width: 100%;
  margin-top: 20px;
  border: 1px solid #2DC6E0;
}


/* Start Mission page specific css*/

.mission-img {
  background-image: url("/resources/images/mission/mission-banner.jpg");
  /*padding-bottom: 56.25%;*/
  position:relative;
  display:block;
  width: 100%;
  margin-top: 80px;
  border: 1px solid #2DC6E0;
}

/* End Mission page specific css*/

/* Start Partnership Page specific css */

.partners-header {
  width: 100%;
  height: 50vh;
  background: url("/resources/images/Partners.jpg") no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.partners-header > h1 {
  margin-top: 36vh;
  margin-left: 60px;
  color: #06263B;
  font-family: "Stratum No1 black", sans-serif;
  font-weight: 900;
  font-size: 3.5vh;
  background-color: #2DC6E0;
  border-top-left-radius: 25px;
  padding: 6px 16px;
}

.partner-description {
  text-align: justify;
  margin-top: 20px;
  font-family: "Stratum No1", sans-serif;
  font-size: 20px;
}

.mission-page-paragraph {
  text-align: justify;
  margin-top: 20px;
  font-family: "Stratum No1", sans-serif;
  font-size: 20px;
  color: #ffffff;
  font-weight: bolder;
}

/* body{margin-top:20px;} */

.logos-box1 {
    height: 100px;
    width: 100px;
    margin: 20px auto;
}
.z-depth-3 {
    -webkit-box-shadow: 0 11px 7px 0 rgba(0,0,0,0.19),0 13px 25px 0 rgba(0,0,0,0.3);
    box-shadow: 0 11px 7px 0 rgba(0,0,0,0.19),0 13px 25px 0 rgba(0,0,0,0.3);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  font-size: 14px;
  display: none;
  position: absolute;
  background: -webkit-linear-gradient(to right, #3fcaff 0%, #a4ffb0 51%, #3fcaff 100%);
  background: -moz-linear-gradient(to right, #3fcaff 0%, #a4ffb0 51%, #3fcaff 100%);
  background: -ms-linear-gradient(to right, #3fcaff 0%, #a4ffb0 51%, #3fcaff 100%);
  background: -o-linear-gradient(to right, #3fcaff 0%, #a4ffb0 51%, #3fcaff 100%);
  background: linear-gradient(to right, #3fcaff 0%, #a4ffb0 51%, #3fcaff 100%);
  background-size: 200% auto;
  padding: 8px 2px 8px 4px;
  min-width: 190px;
  z-index: 1;
  line-height: 28px;
}

.dropdown-content-career {
  font-size: 14px;
  display: none;
  position: absolute;
  background: -webkit-linear-gradient(to right, #3fcaff 0%, #a4ffb0 51%, #3fcaff 100%);
  background: -moz-linear-gradient(to right, #3fcaff 0%, #a4ffb0 51%, #3fcaff 100%);
  background: -ms-linear-gradient(to right, #3fcaff 0%, #a4ffb0 51%, #3fcaff 100%);
  background: -o-linear-gradient(to right, #3fcaff 0%, #a4ffb0 51%, #3fcaff 100%);
  background: linear-gradient(to right, #3fcaff 0%, #a4ffb0 51%, #3fcaff 100%);
  background-size: 200% auto;
  padding: 8px 2px 8px 12px;
  min-width: 136px;
  z-index: 1;
  line-height: 28px;
  border-bottom-left-radius: 18px;
  border-top-right-radius: 18px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-content-career {
  display: block;
}

.news-date {
  color: #2DC6E0;
}

.partner-news {
  max-height: 280px;
  overflow-y: scroll;
}

.partner-news-readmore {
  color: #2DC6E0;
}

.partner-h4 {
  color: #06263B;
}

/* End Partnership Page specific css */

/* FAQ Start */

body{margin-top:20px;}

/* Feature Box
---------------------*/
.feature-box-1 {
  padding: 32px;
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  margin: 15px 0;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
  top: 0;
  background-color: #06263B;
}
.feature-box-1 * {
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
}
.feature-box-1 .icon {
  width: 70px;
  height: 70px;
  line-height: 70px;
  background: #8593A6;
  color: #ffffff;
  text-align: center;
  border-radius: 50%;
  margin-bottom: 22px;
  font-size: 27px;
}
.feature-box-1 .icon i {
  line-height: 70px;
}
.feature-box-1 h5 {
  color: #2DC6E0;
  font-weight: 600;
}
.feature-box-1 h6 {
  color: #2DC6E0;
  font-weight: 400;
}
.feature-box-1 p {
  margin: 0;
}

.feature-box-1 a {
  color: #2DC6E0;
  font-weight: 400;
}

.career-top-paragraph {
  text-align: left;
  /* margin-top: 20px; */
  font-family: "Stratum No1", sans-serif;
  font-size: 17px;
  color: #06263B;
  padding: 0 5px 0 28px;
}

.feature-box-1:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: auto;
  right: 0;
  border-radius: 10px;
  width: 0;
  background: #00748b;
  z-index: -1;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
}
.feature-box-1:hover {
  top: -5px;
}
.feature-box-1:hover h5 {
  color: #ffffff;
}
.feature-box-1:hover p {
  color: rgba(255, 255, 255, 0.8);
}
.feature-box-1:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  left: 0;
  right: auto;
}
.section {
    padding: 100px 0;
    position: relative;
}
.section-title {
    padding-bottom: 5px;
}
.section-title h2 {
    font-weight: 700;
    color: #06263B;
    font-size: 45px;
    margin: 0 0 15px;
    border-left: 5px solid #2DC6E0;
    padding-left: 15px;
}


/* FAQ End */
